server:
  port: 4001

# gRPC Server Configuration
grpc:
  server:
    port: 9001  # gRPC server runs on separate port from HTTP

customer-service:
#  base-url: http://localhost:4000 # local dev (no Docker)
  base-url: http://customer-service:4000 # ✅ Docker service name

spring:
  application:
    name: account-service

  datasource:
#    url: jdbc:postgresql://localhost:5432/accountdb # ❌ localhost = the account-service container itself, NOT your database container.
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://account-db:5432/accountdb}
    username: ${SPRING_DATASOURCE_USERNAME:admin}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver

  jpa:
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

logging:
  level:
    org.springdoc: DEBUG

# Actuator Configuration for Health Checks
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
